:where([data-slot="block"]) {
  display: grid;
}

:where([data-slot="block"][data-size="initial:xs"]) {
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 10rem), 1fr));
}

:where([data-slot="block"][data-size="initial:sm"]) {
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 14rem), 1fr));
}

:where([data-slot="block"][data-size="initial:md"]) {
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 18rem), 1fr));
}

:where([data-slot="block"][data-size="initial:lg"]) {
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 24rem), 1fr));
}

:where([data-slot="block"][data-size="initial:xl"]) {
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 30rem), 1fr));
}
