:where(.text-muted) {
  color: var(--ak-color-text-muted);
}

:where(.text-bold) {
  font-weight: var(--ak-font-weight-bold);
}

:where(.sr-only) {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
