:where(.text-muted) {
  color: var(--ak-color-text-muted);
}

:where(.text-bold) {
  font-weight: var(--ak-font-weight-bold);
}

:where(.sr-only) {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

:where(.gap-1, [data-slot="grid"][data-gap="initial:1"], [data-slot="flex"][data-gap="initial:1"]) {
  gap: var(--ak-space-1);
}

:where(.gap-2, [data-slot="grid"][data-gap="initial:2"], [data-slot="flex"][data-gap="initial:2"]) {
  gap: var(--ak-space-2);
}

:where(.gap-3, [data-slot="grid"][data-gap="initial:3"], [data-slot="flex"][data-gap="initial:3"]) {
  gap: var(--ak-space-3);
}

:where(.gap-4, [data-slot="grid"][data-gap="initial:4"], [data-slot="flex"][data-gap="initial:4"]) {
  gap: var(--ak-space-4);
}

:where(
  .gap-xs,
  [data-slot="grid"][data-gap="initial:xs"],
  [data-slot="flex"][data-gap="initial:xs"]
) {
  gap: var(--ak-space-xs);
}

:where(
  .gap-sm,
  [data-slot="grid"][data-gap="initial:sm"],
  [data-slot="flex"][data-gap="initial:sm"],
  [data-slot="sidebar-layout"][data-gap="sm"],
  [data-slot="topbar-layout"][data-gap="sm"]
) {
  gap: var(--ak-space-sm);
}

:where(
  .gap-md,
  [data-slot="grid"][data-gap="initial:md"],
  [data-slot="flex"][data-gap="initial:md"],
  [data-slot="sidebar-layout"][data-gap="md"],
  [data-slot="topbar-layout"][data-gap="md"]
) {
  gap: var(--ak-space-md);
}

:where(
  .gap-lg,
  [data-slot="grid"][data-gap="initial:lg"],
  [data-slot="flex"][data-gap="initial:lg"],
  [data-slot="sidebar-layout"][data-gap="lg"],
  [data-slot="topbar-layout"][data-gap="lg"]
) {
  gap: var(--ak-space-lg);
}

:where(
  .gap-xl,
  [data-slot="grid"][data-gap="initial:xl"],
  [data-slot="flex"][data-gap="initial:xl"],
  [data-slot="sidebar-layout"][data-gap="xl"],
  [data-slot="topbar-layout"][data-gap="xl"]
) {
  gap: var(--ak-space-xl);
}

:where(
  .gap-x-sm,
  [data-slot="grid"][data-gap-x="initial:sm"],
  [data-slot="flex"][data-gap-x="initial:sm"]
) {
  column-gap: var(--ak-space-sm);
}

:where(
  .gap-x-md,
  [data-slot="grid"][data-gap-x="initial:md"],
  [data-slot="flex"][data-gap-x="initial:md"]
) {
  column-gap: var(--ak-space-md);
}

:where(
  .gap-x-lg,
  [data-slot="grid"][data-gap-x="initial:lg"],
  [data-slot="flex"][data-gap-x="initial:lg"]
) {
  column-gap: var(--ak-space-lg);
}

:where(
  .gap-y-sm,
  [data-slot="grid"][data-gap-y="initial:sm"],
  [data-slot="flex"][data-gap-y="initial:sm"]
) {
  row-gap: var(--ak-space-sm);
}

:where(
  .gap-y-md,
  [data-slot="grid"][data-gap-y="initial:md"],
  [data-slot="flex"][data-gap-y="initial:md"]
) {
  row-gap: var(--ak-space-md);
}

:where(
  .gap-y-lg,
  [data-slot="grid"][data-gap-y="initial:lg"],
  [data-slot="flex"][data-gap-y="initial:lg"]
) {
  row-gap: var(--ak-space-lg);
}

:where(.flex-col, [data-slot="flex"][data-direction="initial:column"]) {
  flex-direction: column;
}

:where(.flex-row-reverse, [data-slot="flex"][data-direction="initial:row-reverse"]) {
  flex-direction: row-reverse;
}

:where(.flex-col-reverse, [data-slot="flex"][data-direction="initial:column-reverse"]) {
  flex-direction: column-reverse;
}

:where(
  .items-start,
  [data-slot="flex"][data-align="initial:start"],
  [data-slot="grid"][data-align="initial:start"]
) {
  align-items: flex-start;
}

:where(
  .items-end,
  [data-slot="flex"][data-align="initial:end"],
  [data-slot="grid"][data-align="initial:end"]
) {
  align-items: flex-end;
}

:where(
  .items-center,
  [data-slot="flex"][data-align="initial:center"],
  [data-slot="grid"][data-align="initial:center"]
) {
  align-items: center;
}

:where(
  .items-stretch,
  [data-slot="flex"][data-align="initial:stretch"],
  [data-slot="grid"][data-align="initial:stretch"]
) {
  align-items: stretch;
}

:where(
  .items-baseline,
  [data-slot="flex"][data-align="initial:baseline"],
  [data-slot="grid"][data-align="initial:baseline"]
) {
  align-items: baseline;
}

:where(
  .justify-start,
  [data-slot="flex"][data-justify="initial:start"],
  [data-slot="grid"][data-justify="initial:start"]
) {
  justify-content: flex-start;
}

:where(
  .justify-end,
  [data-slot="flex"][data-justify="initial:end"],
  [data-slot="grid"][data-justify="initial:end"]
) {
  justify-content: flex-end;
}

:where(
  .justify-center,
  [data-slot="flex"][data-justify="initial:center"],
  [data-slot="grid"][data-justify="initial:center"]
) {
  justify-content: center;
}

:where(
  .justify-between,
  [data-slot="flex"][data-justify="initial:between"],
  [data-slot="grid"][data-justify="initial:between"]
) {
  justify-content: space-between;
}

:where(.flex-nowrap, [data-slot="flex"][data-wrap="initial:nowrap"]) {
  flex-wrap: nowrap;
}

:where(.flex-wrap-reverse, [data-slot="flex"][data-wrap="initial:wrap-reverse"]) {
  flex-wrap: wrap-reverse;
}
