[data-slot='sidebar-layout'] > [data-slot='sidebar'] {
  position: sticky;
  inset-block-start: 0;
  block-size: 100vh;
  overflow: auto;
}

[data-slot='sidebar-layout'] > [data-slot='main'] {
  max-inline-size: var(--ak-layout-content-max-width);
}
