:where([data-slot="block"]) {
  display: grid;
}

:where([data-slot="block"][data-size="initial:xs"]) {
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
}

:where([data-slot="block"][data-size="initial:sm"]) {
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
}

:where([data-slot="block"][data-size="initial:md"]) {
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
}

:where([data-slot="block"][data-size="initial:lg"]) {
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
}

:where([data-slot="block"][data-size="initial:xl"]) {
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}
