[data-slot="topbar-layout"] {
  min-block-size: 100vh;
  background: transparent;
}

[data-slot="sidebar-layout"] {
  min-block-size: 100vh;
  background: transparent;
}

[data-slot="topbar-layout"] > [data-slot="main"],
[data-slot="sidebar-layout"] > [data-slot="main"] {
  padding: calc(var(--ak-layout-page-gutter) + 0.4rem) var(--ak-layout-page-gutter)
    calc(var(--ak-layout-page-gutter) + var(--ak-space-3xl));
}
