[data-slot='progress-circle'] {
  display: inline-grid;
  place-items: center;
  inline-size: 2.75rem;
  block-size: 2.75rem;
  border-radius: 999px;
  background: conic-gradient(
    var(--ak-color-primary) var(--ak-progress-percentage),
    var(--ak-color-surface-muted) 0
  );
}

[data-slot='progress-circle-indicator'] {
  inline-size: 1.9rem;
  block-size: 1.9rem;
  border-radius: 999px;
  background: var(--ak-color-bg);
}
